/* ESTE ES EL ORIGINAL */
@keyframes show {
  from {
    opacity: 0;
    transform: scale(0.3);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

body {
  /*font-family: Calibri, sans-serif;*/
  margin: 0;
  padding: 0;
  background-color: white;
}

.MedInfoStatico {
  width: 30vh;
  height: 30vh;
}

.btn-empty {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.search-container {
  margin-bottom: 20px;
}

.search-container input {
  margin-right: 10px;
  padding: 5px;
}

.search-container button {
  padding: 5px 10px;
}

.app-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
  height: 100vh; /* Ajusta la altura según sea necesario */
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%; /* Ajusta el ancho según sea necesario */
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.pagination button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button:hover {
  background-color: #0056b3;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* AQUI TERMINA EL ORIGINAL */

.app-container {
  display: flex;
  transition: transform 0.3s ease;
}

.app-container.selected {
  display: flex;
  /* background-color: #ccc; */ /*🤯 color de fondo al hacer clic*/
}

.app-container.selected .medications-list {
  width: 50vw;
}

.app-container.selected .medications-info {
  z-index: 1;
  display: none;
  height: 0vh;
  width: 50vw;
  transition: width 0.3s ease;
}

.medications-info {
  display: none; /* Oculto por defecto */
  transition: width 0.3s ease;
  height: 100%;
  padding-top: 0%;
}

.search-results-container.active .medications-info {
  display: flex; /* Mostrar cuando search-results-container esté activo */
}
.search-results-container .medications-info {
  display: none;
}

.app-container.selected .medications-info {
  width: 50vw;
  align-items: center;
  justify-content: center;
  height: 80vh;
  margin-top: 15vh;
}

.app-container.selected .medications-list {
  display: flex;
  width: 100%;
  position: relative;
}

@media (max-width: 1050px) {
  .app-container.selected .medications-list {
    width: 100vw;
  }

  .app-container {
    display: flex;
    align-items: start;
    flex-direction: column;
  }

  .medications-info {
    padding-left: 50%;
  }
}
@media (max-height: 800px) {
  .medications-info {
    padding-top: 50%;
  }
}
@media (max-height: 700px) {
  .medications-info {
    padding-top: 130%;
  }
}

@media (max-width: 700px) {
  .app-container {
    display: flex;
  }

  .mensajito > h2 {
    font-size: 1.5rem !important;
  }
}

@media screen and (max-height: 1000px) {
  #lema > b {
    font-size: 30px;
  }

  #lema .span {
    font-size: 20px;
  }

  .todo {
    height: auto;
  }

  .mensajito > p {
    font-size: 1.2rem;
  }

  .contenidoFormulario {
    justify-content: center;
  }
}

@media screen and (max-height: 400px) {
  #lema {
    gap: 0.5rem;
    padding: 1vh !important;
  }
}

@media screen and (max-height: 750px) {
  #lema > b {
    font-size: 25px;
  }

  #lema .span {
    font-size: 15px;
  }

  .contenido {
    height: auto !important;
  }
}

@media screen and (max-width: 815px) {
  .display-pc {
    display: none;
  }

  .display-mobile {
    display: block;
  }

  header a {
    padding: 0 15px;
  }

  #portada {
    flex-direction: column;
    background-color: var(--verde-oscuro);
  }

  #imagenPortada {
    display: flex;
    width: 100vw;
    height: 40vh;
  }

  #lema {
    font-size: 36px;
    text-align: center;
    align-items: center;
    width: 100vw;
    justify-content: start;
    padding-top: 3rem;
  }

  #lema > span {
    font-size: 24px;
  }
}

.pagination-controls {
  display: flex;
  gap: 30px;
}

.pagination-controls button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #696969;
  color: white;
  border: none;
  border-radius: 8px;
}

.pagination-controls button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination-controls button:hover {
  background-color: #32676e;
}

@media (max-width: 700px) {
  .card-content h2 {
    font-size: 0.7rem;
    max-width: 6rem;
  }
}
