* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --verde-oscuro: #2b5b5f;
  --aqua: #a4ffe2;
  --naranja: #fba563;
  --azul-oscuro: #26495a;
}

body {
  font-family: Calibri, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}

.btn-empty {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

@media screen and (max-width: 815px) {
  .display-pc {
    display: none;
  }

  .display-mobile {
    display: block;
  }

  header a {
    padding: 0 15px;
  }
  #portada {
    flex-direction: column;
  }

  #imagenPortada {
    display: none;
  }

  #lema {
    font-size: 36px;
    text-align: center;
  }

  #lema > span {
    font-size: 24px;
  }
}
/* App.css */
.app-container {
  padding: 20px;
}

.search-container {
  margin-bottom: 20px;
}

.search-container input {
  margin-right: 10px;
  padding: 5px;
}

.search-container button {
  padding: 5px 10px;
}
