#busqueda {
  top: 80vh; /* Ajusta la posición superior según tus necesidades */
  left: 0;
  width: 100%; /* Asegúrate de que la barra ocupe todo el ancho de la ventana */
  justify-content: center;
  z-index: 1000; /* Asegúrate de que la barra esté por encima de otros elementos */
  transition: top 2s; /* Cambié margin-top a top */
}

#busqueda-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: black;
}

#busqueda input {
  width: 60vw;
  height: 60px;
  font-size: 16px;
  border: 1px solid grey;
  border-radius: 4px;
  background-color: #eee;
}

#busqueda input:focus {
  outline: none;
}
*/ .no-suggestions {
  background-color: #ccc;
  width: 60vw;
  padding: 20px 10px;
}

.suggestions {
  list-style: none;
  overflow-y: auto;
  background-color: #f5f5f5;
  width: 60vw;
}

.suggestions li {
  padding: 20px 10px;
  cursor: pointer;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #ccc;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}
