.busqueda {
  /* Ajusta la posición superior según tus necesidades */
  left: 0;
  width: 100%; /* Asegúrate de que la barra ocupe todo el ancho de la ventana */
  height: 5vh;
  justify-content: center;
  z-index: 0; /* Asegúrate de que la barra esté por encima de otros elementos */
  display: flex;
  position: absolute;
  top: 80vh; /* Justo debajo del navbar */
  transition: top 1s ease;
}

.busqueda input {
  width: 60vw;
  height: 60px;
  font-size: 16px;
  border: 1px solid grey;
  border-radius: 4px;
  background-color: #eee;
}

.busqueda input:focus {
  outline: none;
}

.med-list {
  display: flex;
  flex-direction: column;
  min-width: 100vh;
  height: 0vh;
  padding-top: 0vh;
  transition: 0.4s ease;
}

.search-results-container.active .med-list {
  padding-top: 15vh;
}
