#busqueda {
  margin-top: 20px;
  display: flex;
  position: relative;
  bottom: 250px;
  justify-content: center;
  transition: margin-top 2s;
}

#busqueda-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#busqueda input {
  width: 60vw;
  height: 60px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid  grey;
  border-radius: 4px;
  background-color: #eee;
}

#busqueda input:focus {
  outline: none;
}

.no-suggestions {
  background-color:#ccc;
  width: 60vw;
  padding: 20px 10px;
}
  
.suggestions {
  list-style:none;
  overflow-y: auto;
  background-color:#f5f5f5;
  width: 60vw; 
}
  
.suggestions li {
  padding: 20px 10px;
  cursor: pointer;
}
  
.suggestion-active,
.suggestions li:hover {
  background-color:#ccc;
}
  
.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}