.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1vw;
  padding: 3vw;
}

/* Media query para pantallas medianas */
@media (max-width: 1000px) {
  .card-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Media query para pantallas pequeñas */
@media (max-width: 480px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}
