@keyframes show {
  from {
    opacity: 0;
    transform: scale(0.3);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.card {
  display: flex;
  align-items: center;
  background-color: #ffffff; /* Color de fondo */
  border-radius: 10px;
  box-shadow: 0px 10px 8px rgba(134, 64, 64, 0.1);
  margin: 20px;
  padding: 40px;
  width: 80%; /* Ajusta el ancho */
  transition: transform 0.3s ease, box-shadow 0.8s ease, border-color 0.3s ease; /* Añadir transición suave */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  animation: show 0.5s;
}

.imgcard {
  max-width: 80px;
  height: auto;
  margin-right: 20px;
}

.card-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card-content h2 {
  margin: 0;
  font-size: 1.5em; /* Ajusta el tamaño si es necesario */
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
}

.card-content h3 {
  margin: 0;
  font-size: 1.2em;
  color: #ffffff; /* Ajusta el color si es necesario */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
}

.card-content p {
  margin: 5px 0;
  font-size: 1.3em;
  font-weight: bold; /* Tamaño del texto */
  color: #ffffff; /* Color del texto */
}

.precio {
  align-self: flex-end;
  font-size: 1.1em; /* Tamaño del texto */
  color: #ffffff; /* Color del texto */
}

.card:hover {
  transform: translateY(-10px);
  /* Mueve la tarjeta hacia arriba cuando se pasa el cursor sobre ella */
}

@media (max-width: 800px) {
  .card {
    padding: 1rem;
  }

  .imgcard {
    width: 15vw;
  }

  .card-content {
    width: 60vw;
  }

  .card-content h2 {
    font-size: 1.2em; /* Ajusta el tamaño si es necesario */
    width: 100%;
  }

  .card-content p {
    font-size: 1em;
  }
}
