.botonMap {
  height: 3.5rem;
  width: 10rem;
  border-radius: 10px;
  border: none;
  transition: transform 0.3s, background-color 0.3s;
  background-color: rgb(65, 65, 65);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.botonMap:hover {
  transform: scale(1.05);
  background-color: rgb(80, 139, 151);
}

.imgMedicamento {
  width: 70%;
  height: 35%;
  border-radius: 10px;
}

.map {
  width: 80%;
  border-radius: 10px;
  cursor: pointer;
}

.a {
  z-index: 100;
  display: flex;
  border: 2px solid red;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.a h1 {
  color: rgb(255, 255, 255);
  font-size: x-large;
}

.a p {
  color: rgb(0, 0, 0);
  font-size: medium;
}
.a h5 {
  color: rgb(255, 255, 255);
  font-size: large;
  text-align: center;
  font-weight: 700;
}

.a h6 {
  font-size: small;
  text-align: center;
  font-weight: 600;
}

.b {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width: 400px;
  gap: 1rem;
  height: 90%;
  padding: 1rem;
  background-color: #747474;
  border-radius: 10px;
  animation: show 0.5s;
}
